In [1]:
from randomforest import randomforest
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
col_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "type"]
# train_data = pd.read_csv("adult.data", header=None)
train_data = pd.read_csv("adult.data", header=None)
# test_data = pd.read_csv("adult.test", header=None)
test_data = pd.read_csv("adult.test", header=None)
frames = [train_data, test_data]
all_data = pd.concat(frames)
num_bins = 8

bucketing_col_i_list = [0, 2, 4, 10, 11, 12]
for i in bucketing_col_i_list:
#     ser, buckets = pd.qcut(all_data.iloc[:,i], num_bins, retbins=True, labels=False, duplicates="drop")
    ser, buckets = pd.cut(all_data.iloc[:,i], num_bins, include_lowest=True, labels=False, retbins=True)
    train_data.iloc[:,i] = pd.cut(train_data.iloc[:,i], buckets, include_lowest=True, labels=False).astype(str).str.strip()
    test_data.iloc[:,i] = pd.cut(test_data.iloc[:,i], buckets, include_lowest=True, labels=False).astype(str).str.strip()

x_train = train_data.iloc[:, :-1]
x_test = test_data.iloc[:, :-1].values.tolist()
y_train = train_data.iloc[:, -1].astype(str).str.replace(r'[. ]+', '')
y_test = test_data.iloc[:, -1].astype(str).str.replace(r'[. ]+', '').values.tolist()
train_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,2,State-gov,0,Bachelors,6,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,3,United-States,<=50K
1,3,Self-emp-not-inc,0,Bachelors,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,1,HS-grad,4,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,3,United-States,<=50K
3,3,Private,1,11th,3,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,3,United-States,<=50K
4,1,Private,1,Bachelors,6,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,3,Cuba,<=50K

In [3]:
clf = randomforest(max_depth=3)
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
print("accuracy_score:", accuracy_score(pred, y_test))
print("confusion_matrix:\n", confusion_matrix(pred, y_test))

accuracy_score: 0.765862047786
confusion_matrix:
 [[12430  3807]
 [    5    39]]