In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("./occupancy_data/datatraining.txt")
df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [3]:
x = df.iloc[:, 1:-1]
x.head()

   Temperature  Humidity  Light     CO2  HumidityRatio
1        23.18   27.2720  426.0  721.25       0.004793
2        23.15   27.2675  429.5  714.00       0.004783
3        23.15   27.2450  426.0  713.50       0.004779
4        23.15   27.2000  426.0  708.25       0.004772
5        23.10   27.2000  426.0  704.50       0.004757

In [4]:
y = df.iloc[:, -1]
y.head()

1    1
2    1
3    1
4    1
5    1
Name: Occupancy, dtype: int64

In [5]:
test1_df = pd.read_csv("./occupancy_data/datatest.txt")
test1_x = test1_df.iloc[:, 1:-1]
test1_y = test1_df.iloc[:, -1]
test1_df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
140,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1
141,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1
142,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1
143,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1
144,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1

In [6]:
test2_df = pd.read_csv("./occupancy_data/datatest2.txt")
test2_x = test2_df.iloc[:, 1:-1]
test2_y = test2_df.iloc[:, -1]
test2_df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-11 14:48:00,21.7600,31.133333,437.333333,1029.666667,0.005021,1
2,2015-02-11 14:49:00,21.7900,31.000000,437.333333,1000.000000,0.005009,1
3,2015-02-11 14:50:00,21.7675,31.122500,434.000000,1003.750000,0.005022,1
4,2015-02-11 14:51:00,21.7675,31.122500,439.000000,1009.500000,0.005022,1
5,2015-02-11 14:51:59,21.7900,31.133333,437.333333,1005.666667,0.005030,1

In [17]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(x, y)
dt_pred_1 = dt_model.predict(test1_x)
dt_pred_2 = dt_model.predict(test2_x)
acc1 = accuracy_score(test1_y, dt_pred_1)
acc2 = accuracy_score(test2_y, dt_pred_2)
print("=================Decision Tree====================")
print("test1 accuracy score:", acc1)
print("test2 accuracy score:", acc2)

=================Decision Tree====================
test1 accuracy score: 0.921575984991
test2 accuracy score: 0.96780147662

In [18]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier()
rf_model.fit(x, y)
rf_pred_1 = rf_model.predict(test1_x)
rf_pred_2 = rf_model.predict(test2_x)

acc1 = accuracy_score(test1_y, rf_pred_1)
acc2 = accuracy_score(test2_y, rf_pred_2)
print("=================Random Forest====================")
print("test1 accuracy score:", acc1)
print("test2 accuracy score:", acc2)

=================Random Forest====================
test1 accuracy score: 0.950844277674
test2 accuracy score: 0.957239540607

In [21]:
from sklearn.ensemble import AdaBoostClassifier
ab_model = AdaBoostClassifier()
ab_model.fit(x, y)
ab_pred_1 = ab_model.predict(test1_x)
ab_pred_2 = ab_model.predict(test2_x)

acc1 = accuracy_score(test1_y, ab_pred_1)
acc2 = accuracy_score(test2_y, ab_pred_2)
print("=================Ada Boost====================")
print("test1 accuracy score:", acc1)
print("test2 accuracy score:", acc2)

=================Ada Boost====================
test1 accuracy score: 0.971106941839
test2 accuracy score: 0.947703035275